.result-section {
  min-width: 310px;
  max-width: 100%;
  margin-right: 10px;
  margin-bottom: 20px;
  padding: 15px 10px 20px 10px;
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.2));
  border-radius: 3px;
}
.result-section-title {
  font-size: 25px;
}

.table-result {
  border-collapse: collapse;
  font-size: 18px;
}

.row-result {
  font-size: 22px;
  color: #0f4367;
  font-weight: bold;
  background-color: #f0f0f3;
}
.row-result-eur {
  text-align: end;
}

td,
th {
  box-shadow: -10px -10px 24px rgba(255, 255, 255, 0.6),
    10px 10px 24px rgba(174, 174, 192, 0.2);
  padding: 5px 10px;
}
