.result-section.shown {
  min-width: 400px;
  margin-right: 10px;
  margin-bottom: 20px;
  border-radius: 3px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: #f0f0f3;
}
.result-section-title {
  font-size: 28px;
  padding-left: 3px;
}

.table-result {
  border-collapse: collapse;
  font-size: 18px;
  background-color: #fff;
}
td,
th {
  border-color: white;
}

.row-result {
  font-size: 22px;
  color: #0f4367;
  font-weight: bold;
  background: #f6f6f6;
}
.row-result-eur {
  text-align: end;
}
