.dependents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  background: #f0f0f3;
  box-shadow: -10px -10px 24px rgba(255, 255, 255, 0.6),
    10px 10px 24px rgba(174, 174, 192, 0.2);
}

.dependents-label {
  font-size: 18px;
}
